requests==2.25.0
fastapi==0.62.0
uvicorn==0.12.3
python-dotenv==0.15.0
aiofiles==0.6.0
python-multipart==0.0.5
jinja2==2.11.2
Markdown==3.3.3
pytest==6.2.1
click==7.1.2
h11==0.11.0
httptools==0.1.
pydantic==1.7.2
PyYAML==5.3.1
starlette==0.13.6
uvloop==0.14.0
watchgod==0.6
websockets==8.1
